*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.main{
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 670px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 80%;
    height: 40%;
    max-width: 670px;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    box-shadow: 0 0 90px rgb(255, 214, 139);
}

.left , .mid , .right{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    width: calc(100%/3);
    /* border: 1px solid whitesmoke; */
    color: whitesmoke;
}

.player.name{
    font-size: 2.5rem;
    width: 100%;
    height: 20%;
    text-align: center;
    transform: rotateZ('45deg');
    transition: .5s;
}
.score, .labal{
    font-size: 2rem;
    width: 100%;
    height: 30px;
    text-align: center;
    transition: .5s;
}
/*  LEFT  */
.left{
    justify-content: center;
}

/*  MID  */
.result{
    font-size: 1.5rem;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: calc(100%/3);
}
.dice{
    display: flex;
    width: 100%;
    height: calc(100%/3);
    justify-content: center;
}
.dice.img{
    width: 40%;
    height: 100%;
    transition: 0.5s;
    border-radius: 12%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.again{
    display: flex;
    width: 100%;
    height: calc(100%/3);
    justify-content: center;
    align-items: center;
    width: 100%;
}
#again{
    font-size: 1.5rem;
    display: none;
    padding: 5px;
    border: 1px solid whitesmoke;
}

/*  RIGHT  */
.right{
    justify-content: center;
}
.note{
    color: whitesmoke;
    top: 80%;
    position: absolute;
}
 
@media screen and (max-width: 800px) {
    .container{
        height: 35%;
    }
    .player.name{
        font-size: 2.0rem;
    }
    .score, .labal, .result, #again{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:700px) {
    .container{
        height: 30%;
    }
    .player.name{
        font-size: 1.8rem;
    }
    .score, .labal, .result, #again{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:500px) {
    .container{
        height: 25%;
    }
    .player.name{
        font-size: 1.6rem;
    }
    .score, .labal, .result, #again{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:420px) {
    .container{
        height: 20%;
    }
    .player.name{
        font-size: 1.4rem;
    }
    .score, .labal, .result, #again{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:370px) {
    .container{
        height: 18%;
    }
    .player.name{
        font-size: 1.3rem;
    }
    .score, .labal, .result, #again{
        font-size: 0.8rem;
    }
}